/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

html {
  background: url('../img/pattern_130.gif');
}
body {
  background: transparent;
}

.container {
  position: relative;
  background: #fff;
  margin-top: -10px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}


.content {
  padding: 20px;
}


.copy {
  padding: 20px;
  margin: 30px 0 0;
  border-radius: 5px;
}
.jumbotron,
.copy {
  background: #EBE7DA;
  margin: 0;
  border-radius: 0;
}
.copy p {
  margin: 0;
}

.colorList {
  margin: 20px 0;
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 0;
}
.colorList li {
  list-style: none;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.colorList li:hover {
  background: #eee;
}

.colorList li:first-child:after {
  content: ' current color';
  color: #ccc;
  margin-left: 20px;
  font-style: italic;
  font-size: 0.8;
}

.content h3 {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 50px;
}

.service-worker {
  display: none;
}
.service-worker.loading {
  display: block;
}

.service-worker-status-text {
  text-align: center;
}

.service-worker-status,
.connect-status,
.status,
.connection-status {
  font-size: 1.2em; 
  border: 1px solid #428bca;
  border-radius: 4px;
  padding: 0 5px 2px 5px; 
}

[data-service-worker="ready"] .service-worker.ready {
  display: block;
}
[data-service-worker="error"] .service-worker.error {
  display: block;
}

[data-service-worker="not-supported"] .service-worker.loading,
[data-service-worker="error"] .service-worker.loading,
[data-service-worker="ready"] .service-worker.loading {
  display: none;
}
